body {
    background-color: #2F3740;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    min-height: 100vh; /* S'assurer que le body prend au moins la hauteur de la fenêtre */
    margin: 0; /* Supprimer les marges par défaut du body */
}

#calculatrice {
    width: 255px; /* Définir la largeur de la calculatrice */
    padding : 40px 15px;
    border: 1px solid #000; /* Ajouter une bordure à la calculatrice pour la visibilité */
    text-align: center;
    margin: auto; /* Centrer la calculatrice */
    background-image: url("cat_pattern.svg");
    background-size: cover; /* Ou 'contain' pour s'assurer que l'image est entièrement visible */
    border-radius: 10px;
    border: none;
}

#ecran {
    width: calc(100% - 20px); /* Conserve la largeur actuelle */
    height: 60px; /* Exemple de nouvelle hauteur spécifiée */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    word-wrap: break-word;
    border: none;
    border-radius: 10px;
    text-align: right;
}

button {
    width: 50px; /* Largeur des boutons */
    height: 50px; /* Hauteur des boutons */
    margin: 5px; /* Espacement entre les boutons */
    cursor: pointer; /* Changer le curseur en pointer , il faudra le modifier par un chat*/
    color: #2F3740;
    border-radius: 25px;
    border: none;
}

.special {
    background-color: #FCABC8;
}

.digit {
  background-color: #C5F3F2;
}

.egual {
  background-color: #FAD713;
}

#result {
  font-size: 40px;
}

#label {
  text-align: left;
  margin: 0;
  padding: 0;
}
