body {
    background-color: #f0e8f6; /* Un fond subtil entre rose et violet */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#calculatrice {
    padding: 20px;
    border-radius: 20px;
    background-color: #f0e8f6; /* Assorti au fond du body pour une intégration douce */
}

button {
    border: none;
    outline: none;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 30px; /* Boutons arrondis */
    background: #e0e5ec;
    box-shadow: 8px 8px 15px #a3b1c6, /* Ombre externe */
                -8px -8px 15px #ffffff; /* Lumière externe */
    font-size: 16px;
    color: #666;
    cursor: pointer;
    user-select: none; /* Empêche la sélection du texte sur les boutons */
}

button:active {
    box-shadow: inset 8px 8px 15px #a3b1c6, /* Ombre interne lors du clic */
                inset -8px -8px 15px #ffffff; /* Lumière interne lors du clic */
}

/* Styles supplémentaires pour les boutons spéciaux, égale, etc. */
.special, .egual {
    /* Vous pouvez ajuster les styles ici si nécessaire */
}

#ecran {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    padding: 20px;
    background: #e0e5ec;
    box-shadow: inset 8px 8px 15px #a3b1c6,
                inset -8px -8px 15px #ffffff;
    border-radius: 20px;
    text-align: right;
    font-size: 20px;
    color: #666;
}

#label {
    font-size: 24px;
    color: #a381b1; /* Un violet doux pour le texte */
    text-shadow: 1px 1px 2px #ffffff, /* Lumière pour effet en relief */
                 -1px -1px 2px #d8c0e0; /* Ombre douce pour le contraste */
    padding: 10px 0; /* Ajustez l'espacement au besoin */
}
